/* .container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
} */


/* .left,
.right {
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bgc1 {
  background-color: #34495E;
}

.bgc2 {
  background-color: #ECF0F1;
} */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* BACKGROUND */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.container::before {
  left: 0;
}

.container::after {
  right: 0;
}


/* ----------- Index --------------- */

.container#Index::before {
  background-color: #34495E;
}

.container#Index::after {
  background-color: #ECF0F1;
}


/* ----------- About --------------- */

.container#About::before {
  background-color: #ECF0F1;
}

.container#About::after {
  background-color: #34495E;
}


/* ----------- Product --------------- */

.container#Product::before {
  background-color: #34495E;
}

.container#Product::after {
  background-color: #ECF0F1;
}


/* ----------- Contact --------------- */

.container#Contact::before {
  background-color: #ECF0F1;
}

.container#Contact::after {
  background-color: #34495E;
}


/* --------------------------------- */


/* BACKGROUND */


/* MAIN HEADER & FOOTER */

.mainHeader,
.mainFooter {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
}

.mainHeader {
  margin-top: 35px;
}

.mainFooter {
  margin-bottom: 70px;
}


/* MAIN HEADER & FOOTER */


/* LOGO */

.logo a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  text-decoration: none;
}

#Index .logo a,
#Product .logo a {
  color: #ECF0F1;
}

#About .logo a,
#Contact .logo a {
  color: #34495E;
}


/* LOGO */


/* TEXT LINK */

.textLink {
  min-width: 135px;
  text-align: right;
}

.textLink a {
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #34495E;
}

#Index .textLink a,
#Product .textLink a {
  color: #34495E;
}

#About .textLink a,
#Contact .textLink a {
  color: #ECF0F1;
}


/* TEXT LINK */


/* NAV */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation a {
  display: block;
  color: #ECF0F1;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

#Index .navigation a,
#Product .navigation a {
  color: #ECF0F1;
}

#About .navigation a,
#Contact .navigation a {
  color: #34495E;
}


/* NAV */


/* SOCIAL */

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 117px;
  margin: 0;
  padding: 0;
}

.social a {
  display: block;
  width: 26px;
  height: 26px;
  text-decoration: none;
}

#Index .social a svg use,
#Product .social a svg use {
  fill: #34495E;
}

#About .social a svg use,
#Contact .social a svg use {
  fill: #ECF0F1;
}


/* SOCIAL */


/* index content */

.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 650px;
  transform: translate(-50%, -50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 80px;
  font-size: 72px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #000000;
}

@supports ( -webkit-text-fill-color: transparent) {
  .promo {
    background: linear-gradient( to left, #34495E 50%, #FFFFFF 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}


/* index content */


/* decor */

.activeSceen {
  position: relative;
  pointer-events: none;
}

.activeSceen::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 3px;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #34495E;
}

svg:hover use,
a:hover {
  color: rgb(55, 179, 121) !important;
  fill: rgb(55, 179, 121) !important;
  border-color: rgb(55, 179, 121) !important;
}

button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* decor */