html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* BACKGROUND */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  z-index: -5;
}

.container::before {
  left: 0;
}

.container::after {
  right: 0;
}


/* ----------- Index --------------- */

.container#Index::before {
  background-color: #34495E;
}

.container#Index::after {
  background-color: #ECF0F1;
}


/* ----------- About --------------- */

.container#About::before {
  background-color: #ECF0F1;
}

.container#About::after {
  background-color: #34495E;
}

@supports (background-blend-mode: screen) {
  .container#About::after {
    background: #34495E url('../img/BigCircles.svg') no-repeat 100% 50%;
    background-blend-mode: screen;
  }
}


/* ----------- Product --------------- */

.container#Product::before {
  background-color: #34495E;
}

.container#Product::after {
  background-color: #ECF0F1;
}


/* ----------- Contact --------------- */

.container#Contact::before {
  background-color: #ECF0F1;
}

.container#Contact::after {
  background-color: #34495E;
}


/* --------------------------------- */


/* BACKGROUND */


/* MAIN BOX MODEL */

.mainHeader,
.mainFooter,
.mainContent {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
}

.mainHeader {
  margin-top: 35px;
  z-index: 10;
}

.mainFooter {
  margin-bottom: 70px;
  z-index: 10;
}

.mainContent {
  align-items: center;
}

.firstBlockContent,
.secondBlockContent {
  box-sizing: border-box;
  width: 50%;
}


/* MAIN BOX MODEL */


/* LOGO */

.logo a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  text-decoration: none;
}

#Index .logo a,
#Product .logo a {
  color: #ECF0F1;
}

#About .logo a,
#Contact .logo a {
  color: #34495E;
}


/* LOGO */


/* TEXT LINK */

.textLink {
  min-width: 135px;
  text-align: right;
}

.textLink a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #34495E;
}

#Index .textLink a,
#Product .textLink a {
  color: #34495E;
}

#About .textLink a,
#Contact .textLink a {
  color: #ECF0F1;
}


/* TEXT LINK */


/* NAV */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 292px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation a {
  display: block;
  color: #ECF0F1;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

#Index .navigation a,
#Product .navigation a {
  color: #ECF0F1;
}

#About .navigation a,
#Contact .navigation a {
  color: #34495E;
}

.activeSceen {
  position: relative;
  pointer-events: none;
}

.activeSceen::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 3px;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #34495E;
}

#Product .activeSceen::before {
  background-color: #ECF0F1;
}


/* NAV */


/* SOCIAL */

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 117px;
  margin: 0;
  padding: 0;
}

.social a {
  display: block;
  width: 26px;
  height: 26px;
  text-decoration: none;
}

#Index .social a svg use,
#Product .social a svg use {
  fill: #34495E;
}

#About .social a svg use,
#Contact .social a svg use {
  fill: #ECF0F1;
}


/* SOCIAL */


/* index content */

.promo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 650px;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 80px;
  font-size: 72px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #000000;
}

@supports ( -webkit-text-fill-color: transparent) {
  .promo {
    background: linear-gradient( to left, #34495E 50%, #FFFFFF 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}


/* index content */


/* about content */

.firstBlockContent .inWrapp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 420px;
  min-height: 390px;
  background: url('../img/SmallCircles.svg') no-repeat 50% 50%;
}

.firstBlockContent .quotes {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 40px;
  background: url('../img/quotes.svg') no-repeat 50% 50%;
}

.firstBlockContent .text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 1.37143px;
  color: #34495E;
  margin-top: 20%;
}

.secondBlockContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.secondBlockContent .inWrapp {
  box-sizing: border-box;
  width: 420px;
  min-height: 390px;
}

.secondBlockContent .text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 15px;
  letter-spacing: 1.28571px;
  color: #ECF0F1;
}


/* about content */


/* product content */

.blockContent {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
  width: 100%;
}

.blockContent h2 {
  position: absolute;
  top: 15%;
  left: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
  letter-spacing: 2.88px;
  color: #FFFFFF;
}

.blockContent p {
  position: absolute;
  top: 30%;
  margin: 0;
  margin-top: 50px;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  font-size: 16px;
  letter-spacing: 0.72px;
  color: #ECF0F1;
  width: 200px;
}

.blockContent span {
  position: absolute;
  bottom: 15%;
  left: 0;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 17px;
  letter-spacing: 0.765px;
  text-transform: uppercase;
  color: #ECF0F1;
  padding-left: 40px;
}

.blockContent span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
}

.blockContent img {
  width: 900px;
  height: 515px;
}

@media screen and (max-width: 1600px) {
  .blockContent img {
    width: 80%;
    height: 80%;
  }
}

.blockContent button {
  position: absolute;
  left: -10%;
  bottom: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  width: 35px;
  height: 20px;
  background: none;
  border: none;
  background: url('../img/arrowIcon.svg') no-repeat 50% 50%;
  cursor: pointer;
}


/* product content */


/* contact content */

.mainForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

.mainForm input,
.mainForm textarea,
.mainForm button {
  box-sizing: border-box;
  width: 80%;
  padding: 17px 25px;
  margin-bottom: 35px;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: #34495E;
  color: #ECF0F1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
}

.mainForm input {
  height: 55px;
}

.mainForm input::-webkit-input-placeholder,
.mainForm textarea::-webkit-input-placeholder {
  color: #ECF0F1;
}

.mainForm input::-moz-placeholder,
.mainForm textarea::-moz-placeholder {
  color: #ECF0F1;
}

.mainForm input:-moz-placeholder,
.mainForm textarea:-moz-placeholder {
  color: #ECF0F1;
}

.mainForm input:-ms-input-placeholder,
.mainForm textarea:-ms-input-placeholder {
  color: #ECF0F1;
}

.mainForm input:focus::-webkit-input-placeholder,
.mainForm textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.mainForm input:focus::-moz-placeholder,
.mainForm textarea:focus::-moz-placeholder {
  color: transparent;
}

.mainForm input:focus:-moz-placeholder,
.mainForm textarea:focus:-moz-placeholder {
  color: transparent;
}

.mainForm input:focus:-ms-input-placeholder,
.mainForm textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.mainForm textarea {
  height: 20vh;
  resize: none;
}

.mainForm button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #ECF0F1;
  border: 2px solid #34495E;
  color: #34495E;
  height: 55px;
  margin: 0;
  padding: 10px 50px;
}

.mainForm input[type='number'] {
  -moz-appearance: textfield;
}

.mainForm input::-webkit-outer-spin-button,
.mainForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 1599px) {
  .mainForm input,
  .mainForm textarea,
  .mainForm button {
    padding: 15px 23px;
    margin-bottom: 25px;
  }
  .mainForm input {
    height: 45px;
  }
  .mainForm textarea {
    height: 15vh;
  }
  .mainForm button {
    height: 45px;
    padding: 10px 50px;
  }
}

@media screen and (max-width: 1365px) {
  .mainForm input,
  .mainForm textarea,
  .mainForm button {
    padding: 13px 20px;
    margin-bottom: 20px;
  }
  .mainForm input {
    height: 40px;
  }
  .mainForm textarea {
    height: 13vh;
  }
  .mainForm button {
    height: 40px;
    padding: 10px 50px;
  }
}

#maps {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}


.container#Contact::after {
  background-color: transparent;
}


/* contact content */


/* decor */

svg:hover use,
a:hover {
  color: rgb(55, 179, 121) !important;
  fill: rgb(55, 179, 121) !important;
  border-color: rgb(55, 179, 121) !important;
}

.mainForm button:hover {
  color: rgb(55, 179, 121) !important;
  border-color: rgb(55, 179, 121) !important;
}

.mainForm button:hover .imgInBtn use {
  fill: rgb(55, 179, 121) !important;
}


/* decor */