/* .container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
} */


/* .left,
.right {
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bgc1 {
  background-color: #34495E;
}

.bgc2 {
  background-color: #ECF0F1;
} */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.container::before {
  left: 0;
  background-color: #34495E;
}

.container::after {
  right: 0;
  background-color: #ECF0F1;
}

.mainHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 35px;
}

.mainFooter {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
  flex-direction: row;
  justify-content: space-around;
}

.logo a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #ECF0F1;
  text-decoration: none;
}

.text {
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #34495E;
}

.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 80px;
  font-size: 72px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 292px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation a {
  display: block;
  color: #ECF0F1;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 117px;
  margin: 0;
  padding: 0;
}
.social a {
  display: block;
  width: 26px;
  height: 26px;
  text-decoration: none;
}

/* .tw {
  background: url("../img/tw.svg") no-repeat 50% 50%;
}
.in {
  background: url("../img/in.svg") no-repeat 50% 50%;
}
.fb {
  background: url("../img/fb.svg") no-repeat 50% 50%;
} */

svg:hover,
a:hover {
  color: rgb(55, 179, 121);
  fill: rgb(55, 179, 121);
  border-color: rgb(55, 179, 121);
}

button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}